version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache \
              make
      - run:
          name: Detect changed directories
          command: |
            git show --name-only | xargs dirname | uniq > .modified
      - run:
          name: Build and push modified images
          command: |
            while read d; do
              makeable=$(make -s -q -C $d build) > /dev/null
              status=$?
              if [ $status -eq 1 ]; then
                make -C $d build
                # make -C $d push
              fi
            done < .modified
